.resultado-card-container {
  color: #444;
  font-size: 40px;
  display: flex;
}

.resultado-card-container span {
  background: #fff;
  border: 1px solid #444;
  padding: 20px;
  margin: 10px 0;
}

.resultado-card-container span.posicao {
  width: 60px;
  text-align: center;
}

.resultado-card-container span.nome {
  width: 100%;
}
